EXPO_PUBLIC_SUPABASE_URL=https://bktxnovrkiilkfvzlwwo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrdHhub3Zya2lpbGtmdnpsd3dvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3MDQzNzQsImV4cCI6MjA5ODI4MDM3NH0.EgVBNXWIcNHSse1q9JhiD77HFgFUK4cx12gWhtMA73w
EXPO_PUBLIC_WEB_URL=https://quirksandall.itshypothetical.com
EXPO_PUBLIC_RC_KEY=test_yxDAGGyCevltaWemRnvzXQgHrUD
